/* THE FORM  OF MODAL WINDOW */
.modal-window {
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  display: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}

.modal-window__inner,
.form-input_email{
  min-width: 280px;
  width: 100%;
  max-width: 450px;
}


.form-input_email{
  padding-bottom: 10px;
}
.form__input_password label.input,
.form-input_email label.input{
  position: relative;
  display: block;
  height: 40px;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  padding: 0;
  border: 0;

}

label.input svg{
  position: absolute;
  left: 5px;
  top: 12px;
}

.form__input_password label.input input,
.form-input_email label.input input{
    height: inherit;
    width: inherit;
    margin: 0;
    box-sizing: border-box;
    padding: 0 25px;
    border-radius: 8px;
}
.form-input_email label.input svg path{
  stroke: rgba(255, 255, 255, 0.5);
  fill: none;
}

/* ERROR MESSAGE */

div.hidden.validator-hint {
  display: none;
  color: red;
  background: rgb(255, 255, 255, 0.5);
  text-align: center;
  vertical-align: middle;
}

